<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Gerson Morales | Business Engineering Student</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>
  <!-- Comienza el header-->
  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="logo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Gerson Morales" class="profile-pic nav-link" />
              <span class="caption nav-link">Gerson Morales</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>

          </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Buy Me Coffee</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>


    <!-- Comienza landing page-->

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Gerson Aarón</h2>
          <h3>{Business Engineering Student}</h3>
          <p>SQL Server . Python . HTML . CSS . Java</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">My Projects</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Mi presentación personal-->

    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="My photo" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hello! I'm Gerson 👋🏽</h2>
          <p>
            G'Day! Welcome to my portfolio. I'm Gerson Morales, a third year university
            student at ESEN. Currently I'm studying to be a Business Engineer.
            I love science, and I care about the human well-being. I'd like to work
            for a company that is committed to make a change in the world.
          </p>
          <p>
            During my freetime, I like to listen to music and practice the piano.
            I'm not very good at it, but it's something I enjoy doing. I also
            enjoy exercising, because it helps me feel relaxed. I'm not into sports.
            However, even though I don't practice it regularly, I like playing badminton.
          </p>
          <p>
            I don't have like a dream company that I'd like to work for, but I do
            want to contribute to the society doing something that we, as a team,
            feel proud of. Feel free to contact me if you would like to talk.
          </p>
        </div>
      </div>
      <hr />
    </section>
    <!-- mis servicios-->
    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>REINVENT YOUR BUSINESS</h2>
          <p>
            Let me help you create stunning impressions of your ideas.
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Web Development</h2>
            <p>
              Your ideas. Curated. <br>
              Relax while I transform your awesome project in a really awesome
              website. Don't feel like being in meetings with me? No problem! <br>
              Just send me a brief description of what you want to achieve with
              your web page. I have your back. &#128521;


            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Responsive Design</h2>
            <p>
              Do you want your clients to be able to visit your Business
              page everywhere?
              <br>
              Relax, because I will make your project
              in a Responsive web page design. <br>
              Are you worried that they won't be able
              to see the good looking ads your marketing team made in an iPad?
              <br>
              Well, don't be.
              You will see what I'm talking about when I send you the first version of your page.
            </p>
          </div>

        </div>
      </div>
      <hr />
    </section>
    <!--Overview of my work-->
    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>SERVICES</h2>
        <p>Here you can find an overview of my work</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/pianoLearn.jpg" alt="web page" />
        </div>
        <div class="project-description">
          <h2>PianoLean Page</h2>
          <p>
            This is a web page I made for my close friends in order for them
            to learn how to easily play the piano. You can see that I really respect
            the work made by the artists that I quoted. Feel free to visit the web Page
            so that you can have a quick view of what I can do for you.
          </p>
          <a href="https://piano-learn.herokuapp.com/" class="project-link" target="_blank"><i class="fab fa-windows	"
              aria-hidden="true"> View
              Page</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Deutsch Unterrichten!</h2>
          <p>
            Among my hobbies, I really enjoy helping other people learn.
            In this case, I happen to teach basic and intermediate levels of German.
            I have a Goethe-Zertifikat B1. If you have an idea that involves promoting
            your business in Europe, don't hesitate and contact me!
          </p>
        </div>
        <div class="project-img">
          <img src="/static/images/deutsch.jpg" alt="deutsch" />
        </div>
      </div>

      </div>
      </div>
      <hr />
    </section>

    <!-- contact section-->
    <section id="contact" class="contact">
      <h2>Let's talk!</h2>
      <p>
        I want to hear about you. Don't hesitate in order to write me. I'm not a social media enthusiast,
        and that's why I don't use any service like Facebook, Twitter or Instagram anymore. I'm really concerned
        about your time, so that's why I encourage you to email me and I'll get back to you in a maximum 48-hour range.
      </p>
      <p>
      </p>
      <div class="container">
        <p>
          <a href="mailto:moralesderas.gerson@gmail.com"><i class="fas fa-envelope-open"></i>
            moralesderas.gerson@gmail.com
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Services</a>
        <a href="projects" class="footer-nav-link">Projects</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> Gerson Morales &copy; 2021
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>